@font-face {
  font-family: "iconfont";
  src: url("../fonts/iconfont.eot");
  src: url("../fonts/iconfont.eot?#iefix") format("eot"), url("../fonts/iconfont.woff2") format("woff2"), url("../fonts/iconfont.woff") format("woff"), url("../fonts/iconfont.ttf") format("truetype"), url("../fonts/iconfont.svg#iconfont") format("svg");
}

.icon-avatar:before, .icon-instagram:before, .icon-menu-button:before, .icon-paypal:before, .icon-periscope:before {
  font-family: "iconfont";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-decoration: none;
  text-transform: none;
}

.icon-avatar:before {
  content: "";
}

.icon-instagram:before {
  content: "";
}

.icon-menu-button:before {
  content: "";
}

.icon-paypal:before {
  content: "";
}

.icon-periscope:before {
  content: "";
}

.icon-periscope:before {
  content: "";
}

.contact {
  font-size: 20px;
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .contact {
    font-size: 30px;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body, p, ul, li, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

ul, li {
  list-style: none;
}

a {
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
}

body {
  font-family: Tahoma, Arial, sans-serif;
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Arial", sans-serif;
}

.requirements {
  background-color: #FFFFFF;
}

.inner_requirements {
  padding: 0 40px 0;
}

.flex_container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  padding: 0 20px 70px;
  border-bottom: 1px solid #CFCFCF;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .flex_container {
    display: block;
    margin: 0 auto;
  }
}

.requirements_title {
  font-size: 3.8rem;
  color: #505050;
  text-align: center;
  padding: 120px 0 50px;
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .requirements_title {
    font-size: 3.5rem;
    padding: 80px 6.5% 50px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .requirements_title {
    font-size: 2.4rem;
    padding: 80px 4% 50px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .requirements_title {
    font-size: 2.4rem;
    padding: 70px 4% 50px;
  }
}

.requirements_img {
  width: 40%;
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .requirements_img {
    min-width: 45%;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .requirements_img {
    width: 100%;
    margin: 0 auto;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .requirements_img img {
    margin: 0 auto;
  }
}

.requirements_list {
  width: 40%;
  font-size: 1.6rem;
  line-height: 26px;
  color: #505050;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .requirements_list {
    width: 100%;
    margin-bottom: 50px;
    text-align: justify;
  }
}

.requirements_item {
  list-style-type: disc;
}

.requirements_description {
  font-size: 16px;
  line-height: 26px;
  color: #505050;
  padding: 70px 40px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .requirements_description {
    text-align: justify;
    margin-bottom: 0;
    padding: 70px 0 40px;
  }
}

.requirements_descr {
  padding-bottom: 30px;
}

.signup {
  background-color: #00CBCF;
  text-align: center;
  padding: 70px 0;
}

.signup_title {
  font-size: 2.4rem;
  line-height: 39px;
  color: #FFFFFF;
  padding-bottom: 30px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .signup_title {
    font-size: 2rem;
  }
}

.signup_title ~ .signup_title {
  padding-top: 30px;
  padding-bottom: 0;
}

.advantages_list:nth-child(even) {
  background-color: 1px solid green;
}

.advantages_item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 768px) {
  .advantages_item:nth-child(even) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .advantages_item {
    min-width: 100%;
    text-align: justify;
    display: block;
  }
}

.advantages_text {
  padding: 100px;
  width: 50%;
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .advantages_text {
    padding: 40px;
    text-align: justify;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .advantages_text {
    padding: 60px;
    width: auto;
  }
}

.advantages_img {
  padding: 100px;
  width: 50%;
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .advantages_img {
    padding: 40px;
    text-align: justify;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .advantages_img {
    padding: 60px;
    width: auto;
  }
}

.advantages_img {
  background-color: #CFCFCF;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.item_title {
  color: #505050;
  font-size: 2.4rem;
  line-height: 39px;
  margin-bottom: 20px;
}

.item_descr {
  color: #505050;
  font-size: 1.6rem;
  line-height: 26px;
}

.item_img {
  margin: 0 auto;
}

.registration {
  padding: 90px 0;
  background-color: #00CBCF;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.registration_form {
  padding: 50px;
  width: 55%;
  background-color: #FFFFFF;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .registration_form {
    padding: 4%;
    width: 80%;
  }
}

.registration_title {
  color: #00CBCF;
  font-size: 3.8rem;
  line-height: 61px;
  text-align: center;
}

.registration_descr {
  font-size: 2rem;
  line-height: 32px;
  color: #CFCFCF;
  text-align: center;
}

.form_input {
  display: block;
  margin: 30px auto;
  border: none;
  border-bottom: 1px solid #CFCFCF;
  outline: none;
  outline-offset: 0;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .form_input {
    margin: 20px auto 50px;
  }
}

.form_input:enabled {
  border: none;
  border-bottom: 1px solid #7F7F7F;
}

.form_input:hover {
  border: none;
  border-bottom: 1px solid #7F7F7F;
}

.form_input:focus {
  border: none;
  border-bottom: 1px solid #00CBCF;
}

.form_input:active {
  border: none;
  border-bottom: 1px solid #00CBCF;
}

.form_input:active {
  border: none;
  border-bottom: 1px solid #00CBCF;
}

.button_registration {
  display: block;
  margin: 0 auto;
  text-align: center;
}

.header {
  position: relative;
  background-color: #00CBCF;
}

.logo {
  position: absolute;
  top: 35px;
  left: 120px;
}

.banner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 768px) {
  .banner {
    min-height: 740px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .banner {
    display: block;
    padding-top: 140px;
    min-height: 0;
  }
}

.banner_image_wrapper {
  width: 55%;
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .banner_image_wrapper {
    width: 45%;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .banner_image_wrapper {
    width: 100%;
    margin: 0 auto;
    padding-bottom: 50px;
  }
}

.content_img {
  margin: 0 auto;
}

.banner_wrapper_form {
  width: 45%;
  background: url(../img/background.png) 0 0/100% auto no-repeat;
  padding: 0 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-self: stretch;
      -ms-flex-item-align: stretch;
          align-self: stretch;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .banner_wrapper_form {
    width: 55%;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .banner_wrapper_form {
    width: 100%;
    margin: 0 auto;
    padding-bottom: 40px;
  }
}

.banner_form {
  width: 340px;
  padding-left: 40px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .banner_form {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    padding-left: 0;
  }
}

.banner_form_title {
  font-size: 4.8rem;
  color: #FFFFFF;
  margin-bottom: 20px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .banner_form_title {
    font-size: 3.8rem;
    text-align: center;
  }
}

.banner_form_description {
  font-size: 1.6rem;
  line-height: 26px;
  padding-bottom: 20px;
  color: #FFFFFF;
}

.banner_form_button {
  display: inline-block;
  padding: 0 10px;
  text-align: center;
  font-size: 3rem;
  line-height: 61px;
  min-width: 200px;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FFFFFF;
  background: #FFC83D;
  -webkit-border-radius: 80px;
          border-radius: 80px;
  cursor: pointer;
}

.banner_form_button:hover {
  background-color: #FFB700;
}

.banner_form_button:active {
  background-color: #E8AC15;
}

.footer {
  background-color: #7A7A7A;
}

.logo_footer {
  cursor: pointer;
  margin-left: 150px;
  padding: 25px 0;
  outline: none;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .logo_footer {
    margin-left: 30px;
  }
}
